.hlint.yaml
dist-newstyle/
.stack-work/
*~
.env
data.dat
.golden/*/actual
node_modules
/output
/calibration
/*.prof*
/*.hp
/*.aux
/*.ps
/*-manual.txt
/*-manual.txt
/*.eventlog
/*.eventlog.html
/*.log
/*.csv
/debug
/input.json
